*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        .login{
            width: 280px;
            padding: 5px 50px;
            background: #fff;
            margin: 10px 0;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
        }
            .logo{
                height: 150px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .logo img{
                    height: 150px;
                }
            .sign-in{
                width: 100%;
                display: flex;
                flex-direction: column;
            }
                .div{
                    height: 40px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 0 0 10px 0;
                }
                input{
                    height: 100%;
                    width: 100%;
                    border: 1px solid lightgray;
                    outline: none;
                    font-size: 12px;
                    border-radius: 3px;
                }
                button{
                    width: 100%;
                    height: 30px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 10px;
                    color: white;
                    background: #5297ff;
                    justify-self: center;
                    align-self: center;
                }
                .div:nth-child(4) p{
                    font-size: 13px;
                    margin: 0;
                    line-height: 40px;
                    font-weight: bold;
                    color: gray;
                    width: 50px;
                    text-align: center;
                }
                .c{
                    height: 2px;
                    width: 115px;
                }
                hr{
                    border:1px solid gray;
                    margin-top: 19px;
                }
                .div:nth-child(5) i{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: rgb(69, 69, 167);
                    font-size: 20px;
                    cursor: pointer;
                }
                .div:nth-child(5) p{
                    line-height: 40px;
                    margin: 0;
                    font-size: 14px;
                    color: rgb(69, 69, 167);
                    font-weight: bold;
                    cursor: pointer;
                }
                .div:last-child p{
                    line-height: 40px;
                    font-size: 11px;
                    color: rgb(69, 69, 167);
                    margin: 0;
                    cursor: pointer;
                }
        .redirect{
            height: 60px;
            width: 280px;
            padding: 0 50px;
            background: #fff;
            border: 1px solid lightgray;
            text-align: center;
        }
        .redirect p{
            line-height: 60px;
            margin: 0;
            font-size: 14px;
        }
        i{
            text-decoration: none;
        }
